* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
}

.history {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: url("../../Assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.contents {
    padding-right: 50rem;
}

h1 {
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.3rem;
    padding-right: 10rem;
    margin-bottom: 1rem;
}

p {
    font-size: 2.25rem;
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.0675rem;
}

input {
    display: block;
    margin: 0.7rem;
}

@media screen and (max-width: 1320px) {
    .history {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1320px) {
    .history {
        padding: 0 30px;
    }
}

@media screen and (max-width: 900px) {
    .history {
        align-items: flex-end;
        padding-bottom: 10rem;
    }

    input {
        display: none;
    }

    .contents {
        padding-right: 0;
    }

    h1 {
        padding: 0;
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}