.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
  position: absolute;
}

a {
  text-decoration: none;
  cursor: pointer;

  /* color: #FFFFFF; */
  display: flex;
  gap: 20px;
}
.Exco_btn {
  border: 20px;
  background-color: #4dc8eb;
  color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
}

.Navbar_link {
  display: flex;
  align-items: center;
  gap: 40px;
}
.Exco_para {
  margin-top: 0.2%;
  
}
