.Slide2 {
    height: 650px; /* Adjust the value as needed */
    background-image: url("../../../Assets/Slide2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    overflow: hidden;
}
