
.vision{
    min-height: 649px;
    background: url("../../Assets/vision.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: #ffffff
}
.contents{
    margin-left: 8%;
    margin-top: 20%;
    width: 60%;
}
.texts{
    line-height: 40.96px;
}
@media screen and (max-width: 900px) {
    .vision{
        font-size: 16px;
        
    }
    .contents{
        width: 80%;
        margin-top: 30%;
    }
    .texts{
        line-height: 30.96px;
    }
}
    
