.sermon-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Set the height to 100vh for full-screen background */
    overflow: hidden;
}
.sermon-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sermon-text{
    position: absolute;
    top:30%;
    bottom: 0%; /* Adjust the distance from the bottom */
    left: 0%;
    width: 100%;
    border: solid 2px red;
    color: #fff;
}